.scistone-button-main{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    height: 50px;
    padding: 10px 20px;
    min-width: 120px;

    background: $color-contrast;
    border: none;
    border-radius: $border-radius;
    color: $color-text;

    transition: all .3s;

    &:hover {
        box-shadow: $main-shadow;
    }
}