.navigation-bar{
    opacity: 0.85;
}

.navigation-bar--item{
    padding: 0 20px;
}

.navigation-bar--item-label{
    margin-top: 0 !important;
    font-size: 30px !important;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.navigation-bar--item-animation{
    bottom: 10px;
    height: 4px !important;
    border-radius: 100px;
}